{% extends 'base.html' %}

{% block title%}NEWS_APP{% endblock %}
{% block content%}
<h1>News_App : Index</h1>
        <a href="/indiatoday" class="btn btn-dark">India Today</a>
        <a href="/nytimes" class="btn btn-dark">New York Times</a>

        <br>
            <p>
                - add more websites
                - add date published
                - add view all news
                - add links to main articles
                - add contact medias - yt channel , twitters, 
                - 
            </p>
{% endblock %}